.logo{
    height: 60px;
    margin-top: 1rem;
    margin-left: 16rem;
    border-radius: 23%;
}

.head{
    margin-top: 1rem;
    margin-left: 3rem;
}
.small{
    margin-left: 31rem;
    margin-bottom: 0.25rem;
}