<div class="row">
    <div class="card col p-3 m-3">
        <div class="card-title">Total Confirmed Cases</div>
        <div class="card-body">{{totalConfirmed | number}}</div>
    </div>
    <div class="card col p-3 m-3">
        <div class="card-title">Total Recovered Cases</div>
        <div class="card-body">{{totalRecovered | number}}</div>
    </div>
    <div class="card col p-3 m-3">
        <div class="card-title">Total Active Cases</div>
        <div class="card-body">{{totalActive | number}}</div>
    </div>
    <div class="card col p-3 m-3">
        <div class="card-title">Total Deaths Cases</div>
        <div class="card-body">{{totalDeaths | number}}</div>
    </div>
</div>